.admin-dashboard {
  background-color: #adbbdd;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: #0d1b2a;
}

.admin-header {
  background-color: #0d1b2a;
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.page-title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0 !important;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 0 30px 30px 30px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}


.card {
  background-color: white;
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  background-color: #ffe4b5;
  transform: translateY(-3px);
}

.card p {
  margin-top: 10px;
  font-weight: bold;
}

.link-card {
  text-decoration: none;
  color: inherit;
}

.link-card:hover {
  text-decoration: none;
  color: inherit;
}
