.homepage {
  height: calc(100vh - 70px);
  
  /* Am păstrat 'cover' pentru a umple tot spațiul */
  background: url("/security.png") no-repeat center center/cover;
  
  /* --- AICI ESTE MODIFICAREA CHEIE --- */
  /* Această linie suprascrie poziția 'center center' din regula de mai sus */
  /* și ancorează imaginea de partea de jos. */
  background-position: center bottom;

  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  padding-left: 10%; 
}