.homepage {
  height: calc(100vh - 70px);
  background: url("/security.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column; /* Aliniază elementele pe verticală, necesar pentru a le controla individual */
  justify-content: center; /* Menține centrarea verticală, dacă dorești */
  align-items: flex-start; /* **Mută conținutul la începutul containerului (stânga)** */
  padding-left: 10%; /* **Adaugă un spațiu pe partea stângă pentru a nu fi lipit de margine** */
}

.overlay {
  background-color: lab(86.6% 2.74 0.97 / 0);
  padding: 30px 50px;
  border-radius: 8px;
}

.overlay h1 {
  color: white;
  font-size: 2.5rem;
  text-align: left;
}

@media (max-width: 768px) {
  .overlay h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .overlay h1 {
    font-size: 1.5rem;
    padding: 10px;
  }
}
