.solicitari-container {
  padding: 20px;
}

.solicitari-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* Stiluri pentru secțiunea de căutare */
.search-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-section input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px; /* Lățime ajustabilă */
}

.solicitari-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.solicitari-column {
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.solicitari-column h2 {
  text-align: center;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

button {
  cursor: pointer;
  margin: 0 2px;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
}

.detalii-btn {
background-color: #0d6efd;
color: white;
padding: 5px 10px;
border-radius: 4px;
text-decoration: none;
font-size: 13px;
display: inline-block;
text-align: center;
}
.detalii-btn:hover {
background-color: #0b5ed7;
}